/* start variables */
:root {
  --main-color: #a30101;
  --section-padding: 100px;
}
/* end variables */
/* start global rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
::selection {
  color: white;
  background: var(--main-color);
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Lora", serif;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
hr {
  margin: 20px auto;
  border: 1px solid var(--main-color);
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* small screen */
@media (min-width: 768px) {
  .container,
  hr {
    width: 750px;
  }
  .special-head + p {
    font-size: 15px;
    margin: 10px;
  }
  .special-head {
    font-size: 60px;
  }
}
/* medium */
@media (min-width: 992px) {
  .container,
  hr {
    width: 970px;
  }
}
/* large */
@media (min-width: 1200px) {
  .container,
  hr {
    width: 1170px;
  }
}
/* end global rules  */
/* start header */
.header .container {
  display: flex;
  justify-content: space-between;
  height: 50px;
  padding-top: 5px;
}
.header .container .logo {
  height: 100%;
}
.header .container .logo img {
  height: 100%;
}
.header .links ul {
  display: flex;
  margin-top: 16px;
  margin-bottom: 16px;
}
.header .links ul li {
  margin-left: 30px;
  text-transform: uppercase;
}
.header .links ul li:last-child {
  margin-right: 10px;
}
.header .links ul li a {
  color: black;
  font-size: 18px;
}
.header .links ul li:hover {
  transition: 0.5s;
  transform: scale(1.2);
}
.header .links ul li:hover a {
  color: var(--main-color);
}
.header i {
  display: none;
}
@media (max-width: 768px) {
  .header i {
    display: block;
    font-size: 30px;
    margin: 15px 10px;
    color: var(--main-color);
  }
  .header .links {
    display: none;
  }
}
/* end header */
/* start home */
.home {
  padding-top: var(--section-padding);
}
.home .content {
  display: flex;
  gap: 30px;
}
.home .content .image {
  width: 500px;
}
.home .content .image img {
  width: 100%;
  height: 100%;
}
.home .content .text h1 {
  font-size: 40px;
  color: var(--main-color);
}
.home .content .text p {
  line-height: 2;
  font-size: 18px;
}
.home .content .text button {
  background-color: var(--main-color);
  height: 40px;
}
.home .content .text button a {
  color: white;
}
@media (max-width: 767px) {
  .home .content {
    flex-direction: column;
  }
  .home .content .image {
    width: 350px;
  }
  .home .content .text {
    text-align: center;
  }
}
/* end home */
/* start showinfo */
.showinfo {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.showinfo .show {
  display: flex;
  gap: 30px;
  padding-bottom: var(--section-padding);
}
.showinfo .show img {
  width: 500px;
}
.showinfo .show span h1 {
  font-size: 40px;
  color: var(--main-color);
}
.showinfo .show span p {
  font-size: 18px;
  line-height: 2;
}
.showinfo .show span button {
  width: 100px;
  height: 40px;
  font-size: 18px;
  background-color: var(--main-color);
}
.showinfo .show span button a {
  color: white;
}
.showinfo .show video {
  width: 500px;
}
@media (max-width: 767px) {
  .showinfo .show {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .showinfo .show:last-child {
    padding-bottom: 0;
  }
  .showinfo .show img,
  .showinfo .show video {
    width: 300px;
  }
}
/* end showinfo */
/* start footer */
.footer {
  height: 50px;
  background-color: var(--main-color);
}
.footer .content {
  display: flex;
  justify-content: space-between;
}
.footer .content .icons,
.footer .content .links {
  margin-top: 15px;
}
.footer .content .icons i {
  color: white;
}
.footer .content .icons i:not(:first-child) {
  margin-left: 20px;
}
.footer .content .links a {
  color: white;
  text-transform: uppercase;
}
.footer .content .links a:not(:last-child) {
  margin-right: 20px;
}
@media (max-width: 767px) {
  .footer {
    height: 150px;
  }
  .footer .content {
    flex-direction: column;
    align-items: center;
  }
  .footer .content .icons,
  .footer .content .links {
    margin-top: 40px;
  }
}
/* end footer */
