/* start variables */
:root {
  --main-color: #a30101;
  --main-border-radius: 20px;
}
/* end variables */
/* start global rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
::selection {
  color: white;
  background: var(--main-color);
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Lora', serif;
  margin: 0;
  padding: 0;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* small screen */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* end global rules  */
/* start form */
.container form {
  width: 500px;
  height: 350px;
  margin: 18% auto;
  background-color: #a301011c;
  border: 1px solid var(--main-color);
  border-radius: var(--main-border-radius);
}
.container form h1 {
  font-size: 40px;
  margin: 40px 0 40px 32%;
  text-transform: uppercase;
}
.container form input {
  border-radius: var(--main-border-radius);
  border: 1px solid var(--main-color);
  font-size: 18px;
  margin: 10px 0;
  margin-left: 9%;
  padding: 5px 15px;
  width: 80%;
}
.container form button {
  display: block;
  border: 1px solid var(--main-color);
  width: 35%;
  border-radius: var(--main-border-radius);
  font-size: 18px;
  padding: 5px 15px;
  margin: 20px 0 20px 32%;
}
.container form input:focus {
  outline: solid #a301011c;
  border: none;
}
.container form p {
  margin-left: 10px;
}
.container form p a {
  color: #000;
}
@media (max-width: 767px) {
  .container form {
    width: 350px;
    height: 330px;
    margin: 45% auto;
  }
  .container form h1 {
    margin: 30px 0 30px 28%;
  }
}
/* end form */